@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 241, 245, 249;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.map {
  height: 100vh;
  height: 100dvh;
}

.leaflet-mainpage-link {
  width: 80px !important;
}
